---
import Layout from "../layouts/layout.astro";
export const title = "About"
---

<Layout title={title}>
    <div class="px-6 py-24 sm:py-32 lg:px-8">
        <div class="mx-auto max-w-2xl text-center">
            <h2
                class="text-4xl font-bold tracking-tight text-gray-900 sm:text-6xl mb-6"
            >
                About NSBA
            </h2>
            <p class="text-lg leading-8 text-gray-600">
                North Sound Bicycle Advocates (NSBA) is a not-for-profit,
                all-volunteer group representing bicycle riders in North King
                and South Snohomish counties.
            </p>
            <p class="mt-6 text-lg leading-8 text-gray-600">
                Our goal is to promote greater use of bikes for utility,
                transportation and recreation; to promote safer and more
                welcoming conditions for all bike riders; and to advocate for a
                seamless system of connected bike routes to enable trips by bike
                across our region.
            </p>
            <p class="mt-6 text-lg leading-8 text-gray-600">
                Our new website is under construction – expect lots more details
                (and photos) soon! In the meantime, reach us at <a
                    class="underline text-blue-600"
                    href="mailto:board@northsoundbikes.org"
                    >board [at] northsoundbikes.org</a
                >.
            </p>
        </div>
        <!-- <div class="bg-white px-6 py-16 lg:px-8">
                <div class="mx-auto max-w-3xl text-base leading-7">
                  <h1 class="mt-2 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">JavaScript for Beginners</h1>
                  <p class="mt-6 text-xl leading-8">Aliquet nec orci mattis amet quisque ullamcorper neque, nibh sem. At arcu, sit dui mi, nibh dui, diam eget aliquam. Quisque id at vitae feugiat egestas ac. Diam nulla orci at in viverra scelerisque eget. Eleifend egestas fringilla sapien.</p>
                  <div class="mt-10 max-w-2xl">
                    <p>Faucibus commodo massa rhoncus, volutpat. Dignissim sed eget risus enim. Mattis mauris semper sed amet vitae sed turpis id. Id dolor praesent donec est. Odio penatibus risus viverra tellus varius sit neque erat velit. Faucibus commodo massa rhoncus, volutpat. Dignissim sed eget risus enim. Mattis mauris semper sed amet vitae sed turpis id.</p>
                    
                    <p class="mt-8">Et vitae blandit facilisi magna lacus commodo. Vitae sapien duis odio id et. Id blandit molestie auctor fermentum dignissim. Lacus diam tincidunt ac cursus in vel. Mauris varius vulputate et ultrices hac adipiscing egestas. Iaculis convallis ac tempor et ut. Ac lorem vel integer orci.</p>
                    <h2 class="mt-16 text-2xl font-bold tracking-tight text-gray-900">From beginner to expert in 3 hours</h2>
                    <p class="mt-6">Id orci tellus laoreet id ac. Dolor, aenean leo, ac etiam consequat in. Convallis arcu ipsum urna nibh. Pharetra, euismod vitae interdum mauris enim, consequat vulputate nibh. Maecenas pellentesque id sed tellus mauris, ultrices mauris. Tincidunt enim cursus ridiculus mi. Pellentesque nam sed nullam sed diam turpis ipsum eu a sed convallis diam.</p>
                    
                    <p class="mt-10">Faucibus commodo massa rhoncus, volutpat. Dignissim sed eget risus enim. Mattis mauris semper sed amet vitae sed turpis id. Id dolor praesent donec est. Odio penatibus risus viverra tellus varius sit neque erat velit.</p>
                  </div>
                  <div class="mt-16 max-w-2xl">
                    <h2 class="text-2xl font-bold tracking-tight text-gray-900">Everything you need to get up and running</h2>
                    <p class="mt-6">Purus morbi dignissim senectus mattis adipiscing. Amet, massa quam varius orci dapibus volutpat cras. In amet eu ridiculus leo sodales cursus tristique. Tincidunt sed tempus ut viverra ridiculus non molestie. Gravida quis fringilla amet eget dui tempor dignissim. Facilisis auctor venenatis varius nunc, congue erat ac. Cras fermentum convallis quam.</p>
                    <p class="mt-8">Faucibus commodo massa rhoncus, volutpat. Dignissim sed eget risus enim. Mattis mauris semper sed amet vitae sed turpis id. Id dolor praesent donec est. Odio penatibus risus viverra tellus varius sit neque erat velit.</p>
                  </div>
                </div>
              </div>
             -->
    </div>
</Layout>
