---
import Layout from "../layouts/layout.astro";
---

<Layout>
    <main>
        <div
            class="relative bg-[url('pattern.jpg')] bg-repeat bg-[length:400px]"
        >
            <div class="bg-white bg-opacity-90 w-full h-full absolute"></div>
            <div class="overflow-hidden">
                <div
                    class="mx-auto max-w-7xl px-6 pb-32 pt-36 sm:pt-60 lg:px-8 lg:pt-32"
                >
                    <div
                        class="mx-auto max-w-2xl gap-x-14 lg:mx-0 lg:flex lg:max-w-none lg:items-center"
                    >
                        <div
                            class="relative w-full max-w-xl lg:shrink-0 xl:max-w-2xl"
                        >
                            <h1
                                class="text-4xl font-bold tracking-tight text-gray-900 sm:text-6xl"
                            >
                                Get involved with NSBA
                            </h1>
                            <p class="mt-6 text-lg sm:max-w-md lg:max-w-none">
                                NSBA is an all-volunteer group – we'd love your
                                help making bicycling safer and more welcoming
                                in our region!
                            </p>
                            <p class="mt-6 text-lg sm:max-w-md lg:max-w-none">
                                Sign up for our newsletter, and we'll keep you
                                in the loop about news, advocacy updates, and
                                volunteering opportunities. (Unsubscribe at any
                                time.)
                            </p>
                            <div class="mt-10 flex items-center gap-x-6">
                                <form
                                    action="https://submit-form.com/cXqRJMofO"
                                >
                                    <label for="email">Email</label>
                                    <div
                                        class="flex flex-row items-baseline gap-3"
                                    >
                                        <input
                                            type="email"
                                            id="email"
                                            name="email"
                                            placeholder="Email"
                                            required=""
                                        />

                                        <button
                                            type="submit"
                                            class="bg-blue-700 text-white p-2.5 h-auto rounded-sm"
                                            >Subscribe</button
                                        >
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div
                            class="mt-14 flex justify-end gap-8 sm:-mt-44 sm:justify-start sm:pl-20 lg:mt-0 lg:pl-0"
                        >
                            <div
                                class="ml-auto w-44 flex-none space-y-8 pt-32 sm:ml-0 sm:pt-80 lg:order-last lg:pt-36 xl:order-none xl:pt-80"
                            >
                                <div class="relative">
                                    <img
                                        src="involved/kids.jpg"
                                        alt=""
                                        class="aspect-[2/3] w-full rounded-xl bg-gray-900/5 object-cover shadow-lg"
                                    />
                                    <div
                                        class="pointer-events-none absolute inset-0 rounded-xl ring-1 ring-inset ring-gray-900/10"
                                    >
                                    </div>
                                </div>
                            </div>
                            <div
                                class="mr-auto w-44 flex-none space-y-8 sm:mr-0 sm:pt-52 lg:pt-36"
                            >
                                <div class="relative">
                                    <img
                                        src="/involved/gap.jpg"
                                        alt=""
                                        class="aspect-[2/3] w-full rounded-xl bg-gray-900/5 object-cover shadow-lg"
                                    />
                                    <div
                                        class="pointer-events-none absolute inset-0 rounded-xl ring-1 ring-inset ring-gray-900/10"
                                    >
                                    </div>
                                </div>
                                <div class="relative">
                                    <img
                                        src="/involved/launch.jpg"
                                        alt=""
                                        class="aspect-[2/3] w-full rounded-xl bg-gray-900/5 object-cover shadow-lg"
                                    />
                                    <div
                                        class="pointer-events-none absolute inset-0 rounded-xl ring-1 ring-inset ring-gray-900/10"
                                    >
                                    </div>
                                </div>
                            </div>
                            <div class="w-44 flex-none space-y-8 pt-32 sm:pt-0">
                                <div class="relative">
                                    <img
                                        src="/involved/interurban.jpg"
                                        alt=""
                                        class="aspect-[2/3] w-full rounded-xl bg-gray-900/5 object-cover shadow-lg"
                                    />
                                    <div
                                        class="pointer-events-none absolute inset-0 rounded-xl ring-1 ring-inset ring-gray-900/10"
                                    >
                                    </div>
                                </div>
                                <div class="relative">
                                    <img
                                        src="/involved/ribbon.jpg"
                                        alt=""
                                        class="aspect-[2/3] w-full rounded-xl bg-gray-900/5 object-cover shadow-lg"
                                    />
                                    <div
                                        class="pointer-events-none absolute inset-0 rounded-xl ring-1 ring-inset ring-gray-900/10"
                                    >
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</Layout>
