---
import Header from "../components/header.svelte";
import Footer from "../components/footer.svelte";
import "../styles/fonts.css";
---

<head>
  <meta charset="utf-8" />
  <script data-goatcounter="https://northsoundbikes.goatcounter.com/count"
        async src="//gc.zgo.at/count.js"></script>

</head>
<body>
  <Header client:load />
  <slot />
  <Footer />
</body>
