---
import Header from "../components/header.svelte";
import Footer from "../components/footer.svelte";
import "../styles/fonts.css";
---

<head>
  <meta charset="utf-8" />
</head>
<body>
  <Header client:load />
  <slot />
  <Footer />
</body>
